@import "common.scss";

$codeblock-color: #839496;
$codeblock-background: #002b36;

// for skylighting

@media screen {
    pre:not(.sourceCode) {
        overflow-x: auto;
    }
}

.sourceCode {
    color: $codeblock-color;
    background-color: $codeblock-background;
}

.main {
    > * {
        margin: 2em auto;
        max-width: 95%;
    }
}

.post {
    &-header {
        border-bottom: thin solid;
    }

    &-title {
        font-size: 1.3em;
        margin: 0;
    }

    &-meta {
        display: flex;
        flex-wrap: wrap;

        > * {
            display: block;
        }
    }

    &-date {
        margin-right: 2em;
    }
}
