@import "common.scss";
@import "blocks.scss";

$codeblock-color: #839496;
$codeblock-background: #002b36;

// for skylighting

@media screen {
    pre:not(.sourceCode) {
        overflow-x: auto;
    }
}

.sourceCode {
    color: $codeblock-color;
    background-color: $codeblock-background;
}

.main {
    @include main;
}

.post {
    @include post;

    &-header {
        border-bottom: thin solid;
    }
}
