<!DOCTYPE html>
<html lang="ja" dir="ltr">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>$title$</title>
<link href="https://creativecommons.org/licenses/by/4.0/" rel="license">
<link href="/css/blogpost.css" rel="preload stylesheet" as="style">
<link href="/css/highlight.css" rel="preload stylesheet" as="style">
</head>
<body class="blog">

<nav class="navigation blog-navigation">
$snippet("template/snippet/navigation.html")$
</nav>

<article class='post blog-main'>
<h1 class="post-title">$title$</h1>
<time class="post-date" datetime="$post-date$">$post-date$</time>
$if(post-tags)$
<div class="post-tags">tags: $post-tags$</div>
$endif$
<div class="post-body">$body$</div>
</article>

<aside class="side blog-side">
<aside class="archives">
<h2 class="archives-title">Archives</h2>
$archives$
</aside>

<aside class="tags">
<h2 class="tags-title">Tags</h2>
$tags$
</aside>
</aside>

<footer class="footer blog-footer">
$snippet("template/snippet/cc-by.html")$
</footer>

</body>
</html>
