<!DOCTYPE html>
<html lang="ja" dir="ltr">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>$title$</title>
<link href="https://creativecommons.org/licenses/by/4.0/" rel="license">
<link href="/css/pages.css" rel="stylesheet" as="style">
<body class="pages">

<nav class="navigation pages-navigation">
$snippet("template/snippet/navigation.html")$
</nav>

<main class="main pages-main">$body$</main>

<footer class="footer pages-footer">
$snippet("template/snippet/cc-by.html")$
</footer>
