* {
    box-sizing: border-box;
    min-width: 0;
}

body {
    overflow-wrap: break-word;
    line-height: 1.6;
    font-family: sans-serif;
    max-width: 98%;
    margin: auto;
}

@media print {
    body {
        font-family: serif;
    }

    a {
        color: inherit;
    }
}

a {
    text-decoration: underline;
}

a:hover, a:focus {
    outline: thin dashed;
}

a:active {
    outline: medium solid;
}

pre {
    border: thin ridge;
    border-radius: 0.5em;
}

:not(pre) > code {
    border: thin ridge;
}

@media screen {
    pre, samp {
        overflow-x: auto;
    }
}

pre, code, samp, kbd {
    font-size: 1em;
    font-family: monospace, monospace;
}

q, blockquote {
    font-style: italic;
}

q::before, blockquote::before {
    content: open-quote;
}

q::after, blockquote::after {
    content: close-quote;
}

table {
    border-collapse: collapse;
}

th, td {
    border: thin solid;
}
