:root {
    color-scheme: dark light;
}

* {
    box-sizing: border-box;
    min-width: 0;
}

body {
    overflow-wrap: break-word;
    line-height: 1.6;
    font-family: sans-serif;
    max-width: 98%;
    margin: auto;
}

@media print {
    body {
        font-family: serif;
    }

    a {
        color: inherit;
    }
}

a {
    text-decoration: underline;
}

a:hover, a:focus {
    outline: thin dashed;
}

a:active {
    outline: medium solid;
}

@media screen {
    pre, samp {
        overflow-x: auto;
    }
}

pre, code, samp, kbd {
    font-size: 1em;
    font-family: monospace, monospace;
}

kbd, pre, :not(pre) > code {
    border-radius: 0.25em;
    padding: 0 0.25em;
    border: thin solid;
}

q::before, blockquote::before {
    content: open-quote;
}

q::after, blockquote::after {
    content: close-quote;
}

blockquote::after {
    text-align: end;
}

blockquote::before, blockquote::after {
    display: block;
}

table {
    border-collapse: collapse;
}

th, td {
    border: thin solid;
}
