.blog {
    min-height: 100vh;
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-rows: auto 1fr;

    @media print {
        display: block;

        & > :not(&-main) {
            display: none;
        }
    }

    @media (min-width: 60rem) {
        grid-template-columns: auto 15rem;
        grid-template-areas:
            "navigation navigation"
            "main side"
            "footer footer";

        &-navigation {
            grid-area: navigation;
        }

        &-main {
            grid-area: main;
        }

        &-side {
            grid-area: side;
        }

        &-footer {
            grid-area: footer;
        }
    }
}
