.pages {
    min-height: 100vh;
    display: grid;
    grid-gap: 2rem;
    gap: 2rem;
    grid-template-rows: auto 1fr;

    &-main {
        padding: 0.25rem;
        background: $background--main;
    }
}
