.pages {
    min-height: 100vh;
    display: grid;
    gap: 2rem;
    grid-template-rows: auto 1fr;

    @media print {
        display: block;

        & > :not(&-main) {
            display: none;
        }
    }
}
