.post {
    &-title {
        font-size: 1.3rem;
        margin: 0;
    }

    &-date {
        display: block;
    }

    &-body {
        $symbols: "";
        @for $i from 1 through 6 {
            $symbols: "#{$symbols}#";
            h#{$i}::before {
                content: "#{$symbols} ";
            }
        }

        :is(h1, h2, h3, h4, h5, h6)::before {
            font-family: monospace;
        }
    }
}
